/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

button{
    background-color: #14aaf5;
    color: white;

    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    
}

ul{
    list-style: none;
    color: #434851;
    margin-top: 20px;
}

/* COMMON */
.container{
    width: 80%;
    margin: 0 auto;
    background-color: #edf2f7;
    
}

.border{
    border: 1px solid black;
}

.mt-02{
    margin-top: 2px;
}

.mt-4{
    margin-top: 40px;
}

.pt-1{
    padding-top: 10px;
}

/* Trovare un modo migliore per fare shadow!!!!!! */
.bx-shadow-g{
    box-shadow: 0 10px 20px -12px gray;
}

.bx-shadow-lg{
    box-shadow: 0 10px 20px -20px lightslategray;
}

/* Check and Cross da migliorare */
.circle-check{
    display: inline-block;
    width: 17px;
    height: 17px;
    /* Centrare il numero in verticale Uguale all'altezza */
    line-height: normal;
    
    border: 1px solid #54d0bb;
    color: #54d0bb;
    /* Centrare il numero in orizzontale  */
    text-align: center;

    border-radius: 50%;
    vertical-align: middle;

    font-size: 10px;
}

.circle-cross{
    display: inline-block;
    width: 17px;
    height: 17px;
    /* Centrare il numero in verticale Uguale all'altezza */
    line-height: normal;
    
    border: 1px solid #ff1010;
    color: #ff1010;
    /* Centrare il numero in orizzontale  */
    text-align: center;

    border-radius: 50%;
    vertical-align: middle;

    font-size: 10px;
}




/* HEADER */
.header-banner{
    background-color: #edf2f7;

}

/* img è inline-block non ti permetterà di centrarlo se non lo trasformi in block con display */
.header-banner img{ 
    display: block;
    margin: 0 auto;
}

/* MAIN */

main .container{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 10px 20px -20px lightslategray;
}


.task-form{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    
}

.form-control{
    /* Per posizionarlo centralmente */
    /* display: inline-block; 
        margin: 0 auto;     */
    
    padding: 10px; 
    border-radius: 10px;
    border: 1px solid lightgrey;
  
}

.single-task{
    background-color: #ffffff;

    border: 1px solid black;
    border-radius: 5px;
    
    margin-top: 5px;
    padding: 10px;
}

.type-task{
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 15px;
    
    padding: 5px;
    width: 80px;
    vertical-align: middle;
}

/* Task types */
.tp-edit{
    background-color: #14aaf5;
}

.tp-goal{
    background-color: #ab5de6;
}

.tp-recr{
    background-color: #2cc6ab;
}

.tp-mobile{
    background-color: #ff9b00;
}

.tp-website{
    background-color: #ec4a9d;
}

.tp-sales{
    background-color: #a3d116;
}